@import "tailwindcss";


  @theme {
--color-primary: #BE79DF;
--color-secondary-color: #FBCFFC;

   --breakpoint-xl: 1280px;
   --breakpoint-lg: 1024px;
   --breakpoint-md: 768px;
   --breakpoint-sm: 640px;
  }